@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(120, 7%, 3%);
    --foreground: hsl(90, 6%, 93%);

    --card: hsla(105, 26%, 74%, 0.10);
    --card-hover: hsla(105, 26%, 74%, 0.20);
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: hsl(105, 26%, 74%);
    --primary-foreground: hsl(120, 7%, 3%);

    --secondary: hsl(100, 36%, 31%);
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsla(105, 26%, 74%, 0.10);
    --accent-hover: hsla(105, 48%, 51%, 0.2);
    --accent-foreground: hsl(105, 48%, 51%);

    --destructive: hsla(0, 84%, 60%, 0.10);
    --destructive-hover: hsla(0, 84%, 60%, 0.2);
    --destructive-foreground: hsl(0, 84%, 60%);

    --border: hsla(105, 26%, 74%, 0.10);
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .light {
    --background: #070807;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border m-0;
    font-family: var(--font-sans);
  }
  body {
    @apply bg-background text-foreground flex flex-row gap-4 m-10;
  }
}